* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: #F7F7FB;
  font-family: sans-serif;
}

.dashboard-layout {
  display: grid;
  height: 100vh;
  background: #F7F7FB;
  gap: 1rem;
  grid-template: "left header" auto "left main" 1fr "left right" auto/fit-content(240px) 1fr;
}
@media (min-width: 800px) {
  .dashboard-layout {
    grid-template: "left header header " auto "left main   right" 1fr/280px 1fr 347px;
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
}
.sidebar-overlay.active {
  display: block;
}

.sidebar-left {
  grid-area: left;
  background: #FFFFFF;
}
.sidebar-left ul {
  padding: 2rem 0;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar-left ul hr {
  margin: 2rem 1rem;
}
.sidebar-left ul .bottom-sidebar-items {
  bottom: 1rem;
  position: absolute;
}
.sidebar-left .sidebar-items {
  padding: 1rem 1.5rem;
}
.sidebar-left .sidebar-logo {
  padding: 2rem;
  display: none;
}
.sidebar-left .sidebar-mobilelogo {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
  background-color: white;
}
.sidebar-left li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.sidebar-left li a {
  color: #0D163A;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: none;
}
.sidebar-left li a [data-lucide] {
  width: 24px;
  height: 24px;
  stroke-width: 1.5px;
}
.sidebar-left li a:active {
  border-left: 0.3rem solid #4745A4;
  width: 100%;
}
.sidebar-left li a:active [data-lucide] {
  fill: #F9BA33;
  stroke: #F9BA33;
}
.sidebar-left li a:hover a {
  font-weight: 600;
}
.sidebar-left li a:hover [data-lucide] {
  fill: #F9BA33;
  stroke: #F9BA33;
}

.sidebar-right {
  grid-area: right;
  margin-top: 1rem;
}
.sidebar-right .profile {
  display: flex;
  width: 350px;
  padding: 8px;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 100px;
  padding: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
}
.sidebar-right .recenttransaction,
.sidebar-right .savingPlan {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  height: 20rem;
  padding: 0.5rem;
}

.dashboard-main {
  grid-area: main;
  padding: 0.5rem;
  overflow-y: auto;
  height: 80vh !important;
}
.dashboard-main .search-input {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  display: flex;
  height: 4rem;
  align-items: center;
  margin-bottom: 1rem;
}
.dashboard-main .overview {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  margin-bottom: 1rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.dashboard-main .overview .income,
.dashboard-main .overview .expenses,
.dashboard-main .overview .saving,
.dashboard-main .overview .balance {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  margin-bottom: 1rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-main .overview .top {
  display: flex;
  width: 100%;
}
.dashboard-main .overview .title {
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dashboard-main .overview .value {
  color: black;
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.dashboard-main .overview .balance {
  background: #4745A4;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  display: flex;
  flex-direction: column;
}
.dashboard-main .overview .balance .value {
  color: #FFF;
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.dashboard-main .overview .balance .title {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dashboard-main .overview .saving {
  display: flex;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .dashboard-main .overview .balance {
    padding: 1.5rem;
    max-width: 400px;
  }
  .dashboard-main .overview .balance .balance-heading {
    flex-direction: row;
    justify-content: space-between;
  }
  .dashboard-main .overview .balance .balance-heading .balance-title {
    margin-left: 1rem;
  }
  .dashboard-main .overview .balance .balance-value {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .dashboard-main .overview .balance {
    max-width: 500px;
  }
}
.dashboard-main .analytics {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(222, 222, 222, 0.7);
  margin-bottom: 1rem;
  height: 23rem;
}

@media (min-width: 800px) {
  .sidebar-left .sidebar-logo {
    padding: 2rem;
    display: block;
  }
  .sidebar-left .sidebar-mobilelogo {
    display: none;
  }
  .sidebar-left ul li a {
    display: block;
  }
  .sidebar-left .hamburger {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */