// Variables
$white: #FFFFFF;
$light-gray: #F7F7FB;
$shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
$radius: 10px;
$rounded-radius: 100px;
$space: 1rem;
$font: "Plus Jakarta Sans", sans-serif;
$card-radius: 10px;
$border: 1px solid rgba(222, 222, 222, 0.70);
$background: $white;

// Mixins
@mixin card($p: $space, $radius: $card-radius, $background: $background) {
    background: $background;
    border-radius: $radius;
    padding: $p;
    box-shadow: $shadow;
    border: $border
}

@mixin transition($property: all, $duration: 0.3s, $easing: ease) {
    transition: $property $duration $easing;
}

// Base Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body {
    background: $light-gray;
    font-family: sans-serif;
}

.dashboard-layout {
    display: grid;
    height: 100vh;
    background: $light-gray;
    gap: $space;
    grid-template:
        "left header" auto "left main" 1fr "left right" auto / fit-content(240px) 1fr;

    @media (min-width: 800px) {
        grid-template:
            "left header header " auto
            "left main   right" 1fr / 280px 1fr 347px;
    }
}

// Components

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    display: none;

    &.active {
        display: block;
    }
}


.sidebar-left {
    grid-area: left;
    background: $white;

    ul {
        padding: 2rem 0;
        flex-direction: column;
        align-items: flex-start;

        hr {
            margin: 2rem 1rem;
        }

        .bottom-sidebar-items {
            bottom: 1rem;
            position: absolute;
        }
    }

    .sidebar-items {
        padding: 1rem 1.5rem;
    }

    .sidebar-logo {
        padding: 2rem;
        display: none;

    }

    .sidebar-mobilelogo {
        display: flex;
        justify-content: center;
        gap: 0.1rem;
        background-color: white;
    }

    li {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;

        a {
            color: #0D163A;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            display: none;

            [data-lucide] {
                width: 24px;
                height: 24px;
                stroke-width: 1.5px;
            }

            &:active {
                border-left: 0.3rem solid #4745A4;
                width: 100%;

                [data-lucide] {
                    fill: #F9BA33;
                    stroke: #F9BA33;
                }
            }

            &:hover {
                a {
                    font-weight: 600;
                }

                [data-lucide] {
                    fill: #F9BA33;
                    stroke: #F9BA33;
                }
            }
        }
    }
}

.sidebar-right {
    grid-area: right;
    margin-top: $space;

    .profile {
        display: flex;
        width: 350px;
        padding: 8px;
        align-items: center;
        gap: 10px;
        @include card(0.75rem, $rounded-radius);
    }

    .recenttransaction,
    .savingPlan {
        @include card(0, $radius);
        height: 20rem;
        padding: $space/2;
    }
}

.dashboard-main {
    grid-area: main;
    padding: $space/2;
    overflow-y: auto;
    height: 80vh !important;


    .search-input {
        @include card(0.75rem, $rounded-radius);
        display: flex;
        height: 4rem;
        align-items: center;
        margin-bottom: 1rem;

    }

    .overview {
        @include card($radius);
        margin-bottom: $space;
        // height: 20rem;
        height: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: $space;

        .income,
        .expenses,
        .saving,
        .balance {
            @include card(0, $card-radius);
            margin-bottom: $space;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top {
            display: flex;
            width: 100%;
        }

        .title {
            color: black;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
        }

                .value {
                    color: black;
                    width: 100%;
        
                    font-family: "Plus Jakarta Sans";
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -2px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 0;
        
                }



        .balance {
            @include card(0, $card-radius, #4745A4);
            display: flex;
            flex-direction: column;

            .value {
                color: #FFF;
                width: 100%;

                font-family: "Plus Jakarta Sans";
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -2px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;

            }

            .title {
                color: #FFF;
                font-family: "Plus Jakarta Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }
        }

                .saving{
                    display: flex;
                    display: flex;
                        flex-direction: column;
                }

        @media (min-width: 768px) {
            .balance {
                padding: 1.5rem;
                max-width: 400px;

                .balance-heading {
                    flex-direction: row;
                    justify-content: space-between;

                    .balance-title {
                        margin-left: 1rem;
                    }
                }

                .balance-value {
                    font-size: 2rem;
                }
            }
        }

        @media (min-width: 1024px) {
            .balance {
                max-width: 500px;
            }
        }

    }


    .analytics {
        @include card($radius);
        margin-bottom: $space;
        height: 23rem;
    }
}

@media (min-width: 800px) {
    .sidebar-left {
        .sidebar-logo {
            padding: 2rem;
            display: block;
        }

        .sidebar-mobilelogo {
            display: none;
        }

        ul li a {
            display: block;
        }

        .hamburger {
            display: none;
        }
    }
}

